* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    scroll-behavior: smooth;
    background: #111;
    color: #fff;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 40px;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.navbar a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    font-size: 0.9rem;
}

.navbar a:hover {
    color: #00ffcc;
}

/* SECTIONS */
.section {
    min-height: 100vh;
    padding: 120px 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.dark {
    background: #1a1a1a;
}

/* HERO */
.hero{
    background-image: url('img/abpoint.jpg');
    background-position: center;
    background-size: cover;
}


.hero h1 {
    font-size: 3rem;
    color: #0e0e0e;
}

.hero p {
    margin: 20px 0;
    font-size: 1.2rem;
    color: #0e0e0e;
}

button {
    padding: 12px 30px;
    border: none;
    background: #00ffcc;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background: #00ccaa;
}

/* FEATURES */
.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 40px;
}

.card {
    background: #222;
    padding: 30px;
    border-radius: 8px;
}

/* GALLERY */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 40px;
}

.img-placeholder {
    height: 150px;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

/* FOOTER */
footer {
    padding: 20px;
    text-align: center;
    background: #000;
    font-size: 0.8rem;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .navbar nav {
        display: none;
    }

    .hero h1 {
        font-size: 2.2rem;
    }
}
